.authbox {
  text-align: center;
}

.accountList {
  padding: 0;
}

.accountList > li {
  list-style: none;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.accountList > li > a.buttonlink {
  display: block;
  overflow: hidden;
}

.accountList > li > a.buttonlink > img {
  display: block;
  float: left;
  width: 64px; height: 64px;
  margin: 0 15px;
}

.accountList > li > a.buttonlink > p {
  float: left;
  font-size: 150%;
  color: #555;
}

.accountList > li > a.buttonlink > .accountSelectedMarker {
  float: right;
  font-size: 300%;
  color: #555;
}

.accountRepoList > li {
  border-bottom: 1px solid #eee;
  list-style: none;
  padding: 10px 0;
}

.accountRepoList > li > a.buttonlink {
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.accountRepoList > li > a.buttonlink > p {
  color: #888;
}

.fileList {
  padding: 0;
}

.file {
  list-style: none;
}

.file > a {
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.file.current {
  background: #d9edf7;
}

.file.new {
  font-style: italic;
}

.contentEditor {
  margin: 10px 0;
  position: relative;
}

.aceContainer {
  height: 200px;
}

a.buttonlink {
  cursor: pointer;
}

.site {
  position: relative;
}

.editor-container {
  position: absolute; top: 0; left: 0; right: 0; height: 0;
}

.editor {
  background: white;
  box-shadow: -4px 1px 3px rgba(0, 0, 0, 0.2);
}

.inline-fa {
  font-size: .6em;
}

#errors {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.loading {
  font-size: 24px;
  color: #888;
  text-align: center;
  padding-top: 50px;
}
